body {
    background-image: linear-gradient(red, orange, yellow);
    min-height: 100vh;
}

#first-span {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

span div {
    width: 100vw;
    margin-right: 30px;
    color: white;
    border-style: dashed;
    border-color: yellow;
    text-align: center;
}

#first-span a {
    text-decoration: none;
    color: white;
}

/* A tag decoration and placement */

a {
    display: flex;
    justify-content: center;
}

a h2 {
    border-style: solid;
    border-color: rgb(255, 0, 0);
    background-image: linear-gradient(yellow, red);
    width: 70%;
    font-family: Helvetica;
}

#top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #FFD700;
    background-image: linear-gradient(to right, black, purple);
    margin: 30px;
}

#title {
    font-size: 50px;
}

#self_advocacy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 400px;
    margin-bottom: 30px;
}

#rule_testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#three_minute {
    text-decoration: underline;
}

#rule_testimony h2 {
    width: 50%;
    border-style: double;
    border-width: 5px;
}